// DIR of modules scss


// Modal

.modal {
  $base-border-color: #dcdcdc !default;
  $base-border-radius: 3px !default;
  $base-background-color: #fff !default;
  $base-font-size: 1em !default;
  $base-line-height: 1.5em !default;
  $action-color: #477dca !default;
  $dark-gray: #333 !default;
  $light-gray: #ddd !default;
  $medium-screen: 40em !default;
  $large-screen: 53.75em !default;
  $base-font-color: $dark-gray !default;
  $modal-padding: 3em;
  $modal-background: $base-background-color;
  $modal-close-color: $light-gray;
  $modal-image-height: 135px;
  $modal-image-width: $modal-image-height;
  $modal-trigger-image-width: 300px;

  label {
    cursor: pointer;
    margin-bottom: 0;
  }

  label img {
    border-radius: $modal-trigger-image-width / 2;
    display: block;
    max-width: $modal-trigger-image-width;
  }

  .modal-state {
    display: none;
  }

  .modal-trigger {
    padding: 0.8em 1em;
  }

  .modal-fade-screen { // overlay
    @include position(fixed, 0);
    background-color: rgba(#000, 0.85);
    opacity: 0;
    padding-top: 0.6em;
    text-align: left;
    transition: opacity 0.25s ease;
    visibility: hidden;
    z-index: 99999999999;

    @include media($large-screen) {
      padding-top: 0.5em;
    }

    .modal-bg {
      @include position(absolute, 0);
      cursor: pointer;
    }
  }

  .modal-close {
    @include position(absolute, ($modal-padding /2) ($modal-padding /2) null null);
    @include size(1.5em);
    background: $modal-background;
    cursor: pointer;

    &::after,
    &::before {
      @include position(absolute, 3px 3px 0 50%);
      @include size(0.15em, 1.5em);
      background: $modal-close-color;
      content: "";
      display: block;
      margin: -3px 0 0 -1px;
      transform: rotate(45deg);
    }

    &:hover::after,
    &:hover::before {
      background: darken($modal-close-color, 10%);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }

  .modal-inner {
    background: $modal-background;
    border-radius: $base-border-radius;
    margin: auto;
    margin-top: 0;
    max-height: 95%;
    overflow: auto;
    padding: $modal-padding / 2;
    position: relative;
    transition: opacity 0.25s ease;
    width: 95%;

    @include media($medium-screen) {
      max-height: 95%;
      padding: $modal-padding;
      width: 95%;
    }

    @include media($large-screen) {
      width: 95%;
    }

    h1 {
      color: $base-font-color;
      text-align: left;
      text-transform: capitalize;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
    }

    .modal-intro {
      margin-bottom: 1em;
    }

    .modal-content {
      color: $base-font-color;

      @include media($medium-screen) {
        columns: 2 8em;
      }
    }

    a.cta {
      color: $base-background-color;
      display: inline-block;
      margin-right: 0.5em;
      margin-top: 1em;

      &:last-child {
        padding: 0 2em;
      }
    }
  }

  .modal-state:checked + .modal-fade-screen {
    opacity: 1;
    visibility: visible;
  }

  .modal-state:checked + .modal-fade-screen .modal-inner {
    top: 0.5em;
  }
}

.modal-open {
  overflow: hidden;
}   




/* ---
// Side Image
*/

.side-image {
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: 53.75em !default;
  $base-font-color: $dark-gray !default;
  $side-image-background-top: #B5EBEB;
  $side-image-background-bottom: #5DAC5D;
  $side-image-content-background: #F9F9F9;
  $side-image-border: 1px solid darken(transparentize($side-image-background-bottom, 0.8), 30%);
  margin-top:70px;
  background: $side-image-content-background;
  @include clearfix;
  @include media($large-screen) {
    @include row(table);
  }

  .images-wrapper {
//     background: url("https:
// //raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"),
//                 linear-gradient($side-image-background-top, $side-image-background-bottom),
//                 no-repeat $side-image-background-top scroll;
    background-color: $light-gray;
    background-size: cover;
    border-bottom: $side-image-border;
    display: block;
    min-height: 12em;
    padding: 3em;
    vertical-align: top;

    @include media($large-screen) {
      @include span-columns(4);
      background-position: bottom;
      background-size: cover;
      border-right: $side-image-border;
    }
  }

  .side-image-content {
    display:block !important;
    @include span-columns(12);
    padding: 1em 1em 4em 1em;

    @include media($large-screen) {
      @include span-columns(12);
      padding: 3em 4em 8em 4em;
    }

    h1 {
      margin-bottom: 0.9em;
    }

    h4 {
      background: #BBB;
      color: white;
      display: inline-block;
      font-size: 0.75em;
      margin-bottom: 1.3em;
      padding: 3px 8px;
      text-transform: uppercase;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
      margin-bottom: 3em;
    }
  }
  @include reset-display();
}


// Calendar Modal 
.calendar.modal{
    .modal-close{
        background: none;
        position: fixed;
        margin-right: 40px;
        margin-top: 15px;
    }
    @include media(max-width 573px){
        #modal-going-btn{
            margin-bottom: 10px;
        }
    }
    @include media(min-width 860px max-width 1035px){
        #modal-going-btn{
            margin-bottom: 10px;
        }
    }
    .modal-title{
        @include span-columns(12);
        font-size: $font-size-4;
    }
    .breadcrumb{
        @include span-columns(8);
    }
    .header-details{
        @include span-columns(6, $grid);
        @include omega;
        display: block;
        .header-name{
            font-size: $font-size-3;
        }
    }
    .header-buttons{
        @include span-columns(6, $grid);
        @include omega;
        text-align: right
    }
    .attendies-header{
        font-size: $font-size-4;
        color: rgba(0,0,0,0.54);
        font-weight: 100;
    }
    .attendies-list{
        ul { padding: 10px;}
        height:200px;
        // background:$light-gray;
        overflow: auto;
        li{
            padding:10px 0;
        }
        .name{
            padding-left:5px;
            padding-bottom:10px;
            vertical-align: middle;
        }
        .profile-pic{
            border-radius: 100%;
            vertical-align: middle;
        }
    }
    .attendies-body{
        @include span-columns(12, $grid);
    }

  .tags {
    display:inline-block;
    h4 {
      background: #BBB;
      color: white;
      display: inline-block;
      font-size: 0.75em;
      padding: 3px 8px;
      text-transform: uppercase;
    }
  }

}



// Stats Module
.stats {
  $base-spacing: 1.5em !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $action-color: #477dca !default;
  $stats-color: lighten($action-color, 10%);
  
  text-align: center;
  padding: $base-spacing / 2;
  padding-top:0;

  ul {
    display:inline-block;
    padding: 0;
  }

  li {
    border-right: 1px solid transparentize($base-font-color, 0.8);
    color: $stats-color;
    display: inline;
    float: left;
    font-size: 1.2em;
    line-height: 1.1em;
    padding: 0 0.7em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }

  span {
    color: $base-font-color;
    display: block;
    font-size: 0.7em;
    font-weight: normal;
  }
}

// Breadcrumbs Module

.breadcrumb {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $medium-gray: #999 !default;
  $light-gray: #DDD !default;
  $medium-screen: 40em !default;
  $breadcrumb-border-color: $base-border-color;
  $breadcrumb-border: 1px solid $breadcrumb-border-color;
  $breadcrumb-height: $base-spacing * 1.5;
  $breadcrumb-arrow-color: $breadcrumb-border-color;
  $breadcrumb-background: $base-background-color;
  $breadcrumb-inactive-hover-color: $breadcrumb-background;
  $breadcrumb-color: $medium-gray;
  $breadcrumb-color-hover: $action-color;
  $breadcrumb-color-active: $breadcrumb-color;

  display: inline-block;
  margin-bottom: $base-spacing;
  text-align: left;

  a {
    background-color: $breadcrumb-background;
    border: $breadcrumb-border;
    border-left: 0;
    color: $breadcrumb-color;
    display: inline-block;
    font-size: 0.8em;
    line-height: $breadcrumb-height;
    margin-bottom: 2px;
    margin-right: -5px;
    padding: 0 ($breadcrumb-height / 4) 0 ($breadcrumb-height / 2);
    position: relative;
    text-decoration: none;

    &:first-child {
      border-bottom-left-radius: $base-border-radius;
      border-left: $breadcrumb-border;
      border-top-left-radius: $base-border-radius;
      padding-left: $breadcrumb-height / 2;
    }

    &:last-child {
      background-color: $breadcrumb-background;
      border-bottom-right-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      color: $breadcrumb-color-active;
      padding-right: $breadcrumb-height / 2;
    }

    &:focus,
    &:hover {
      background-color: $breadcrumb-inactive-hover-color;
      color: $breadcrumb-color-hover;
    }

    &::after,
    &::before {
      @include position(absolute, 0 auto 0 100%);
      border-bottom: $breadcrumb-height / 2 solid transparent;
      border-left: $breadcrumb-height / 4 solid transparent;
      border-top: $breadcrumb-height / 2 solid transparent;
      content: "";
      display: block;
      margin: auto;
      z-index: 2;
    }

    &:last-child::after,
    &:last-child::before {
       border: 0;
    }

    &::before {
      border-left-color: $breadcrumb-arrow-color;
      margin-left: 1px;
      z-index: 1;
    }

    &::after {
      border-left-color: $breadcrumb-background;
    }

    @include media($medium-screen) {
      font-size: 1em;
      padding: 0 ($breadcrumb-height / 2) 0 ($breadcrumb-height / 1.5);
    }
  }
}


// Scrollbar
::-webkit-scrollbar {
  width: 6px;
  height: 0;
}
::-webkit-scrollbar-button {
  width: 10px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.3);
  border: 0px none #ffffff;
  border-radius: 33px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}